<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - CSS 3D transform Colorful Animated Carousel</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css'>
  <link rel="stylesheet" href="./styles.css">

</head>
<body>

<figure class="icon-cards mt-3">
  <div class="icon-cards__content">
    <div class="icon-cards__item d-flex align-items-center justify-content-center">
      <img src="https://dev-to-uploads.s3.amazonaws.com/uploads/articles/opa2dexmgpdyjdk15dw7.png"></img>
    </div>
    <div class="icon-cards__item d-flex align-items-center justify-content-center"><img src="https://dev-to-uploads.s3.amazonaws.com/uploads/articles/lq4icmvvohn5pi9l3mx8.png"></img></div>
    <div class="icon-cards__item d-flex align-items-center justify-content-center"><img src="https://dev-to-uploads.s3.amazonaws.com/uploads/articles/4ouhivcg6o2eqtut0n99.png"></img></div>
  </div>
</figure>

<script  src="./script.js"></script>

</body>
</html>
